<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.business.report.mapper.ReportMapper">
    <select id="selectReportShopList" resultType="cn.wolfcode.business.report.vo.ReportShopVO">
        SELECT IFNULL(DATE_FORMAT(pay_time,#{dim}),'未支付') time,COUNT(id) count
        FROM bus_statement
        <where>
            <if test="groupDim == 2">
                and appointment_id is not null
            </if>
        </where>
        GROUP BY DATE_FORMAT(pay_time,#{dim})
    </select>
</mapper>